---

---

<article
	class="h-52 p-5 bg-warmblack rounded-md drop-shadow-md max-w-sm mx-auto overflow-hidden"
>
	<!-- <ClockSvg />
	<p class="mb-1 mt-2 text-xl font-bold">Tiempo Real</p>
	<p style="color: #808080" class="text-sm">
		Nuestra API toma información minuto a minuto sobre las tasas que más
		determinan el comportamiento
	</p> -->
	<slot />
</article>
