---
import DowmArrowSvg from "./DowmArrowSvg.astro";
import LogoSvg from "./LogoSvg.astro";
---

<header
	style="background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);"
	class="relative flex flex-col justify-center items-center w-full h-80 px-4"
>
	<LogoSvg />
	<h1 class="mt-12 text-center text-2xl font-bold text-offwhite">
		La próxima revolución en el intercambio de criptomonedas
	</h1>
	<p class="mt-6 text-base text-center text-softorange font-bold">
		Batatabit te ayuda a navegar entre los diferenetes precios y tendencias
	</p>
	<a
		class="text-sm text-center absolute -bottom-6 py-4 px-5 bg-offwhite drop-shadow-lg rounded-lg text-black self-center flex items-center"
		href=""
		>Conoce nuestros planes <span class="w-3 h-2 ml-2"
			><DowmArrowSvg /></span
		></a
	>
</header>
